@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: 'Roboto', sans-serif !important;
}

/* Navbar */
.logo {
  width: 80px;
}

nav a.nav-link {
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-bottom: 2px solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.5 rem;
  padding: 0;
  height: 6 rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-bottom: 2px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 2px solid var(--primary-orange);
}
